.cartel-dia p {
    width: 325px;
    padding: 16px 8px;
    border-radius: 16px;
    margin: 16px auto;
    background-color: cadetblue;
    color: aliceblue;
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
}