.resultado,
.cartel {
    width: 300px;
    padding: 16px;
    border-radius: 8px;
    background-color: cadetblue;
    color: aliceblue;
    text-align: center;
    margin: 16px auto;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.verde {
    background-color: green;
}